@using System.Security.Claims;
@if (User.Identity!.IsAuthenticated)
{
//login olup olmadığımızı anlamak için kullanılır.
    //kullanıcı authenticate olduysa bu kodlar çalışır değilse elsin içindeki kodlar.
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">@User.Identity.Name</a>
            <ul class="dropdown-menu">

                <li><a class="dropdown-item" asp-controller="Member" asp-action="Index">Profile</a></li>

                <li><a class="dropdown-item" asp-controller="Member" asp-action="PasswordChange">Şifre Değiştir</a></li>

                <li><a class="dropdown-item" asp-controller="Member" asp-action="UserEdit">Kullanıcı Güncelle</a></li>

                <li><a class="dropdown-item" asp-controller="Member" asp-action="Claims">Claims</a></li>

                @{
                    @if (User.HasClaim(x=>x.Type==ClaimTypes.Role && x.Value=="admin"))
                    {
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
                    }
                }

                <li><a class="dropdown-item" asp-route-returnurl="/Home/Index" asp-controller="Member" asp-action="Logout">Çıkış Yap</a></li>

            </ul>
        </li>
    </ul>
}
else
{
    <a class="btn btn-outline-success mx-1" asp-controller="Home" asp-action="SignIn">Üye Giriş</a>

    <a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Üye Kayıt</a>
}