
@{
    ViewData["Title"] = "Index";
}
@model UserViewModel

<div class="row">
    <div class="col-md-4 offset-md-4" style="text-align:center">
       
        <user-picture-thumbnail class="rounded" style="width:200px" picture-url="@Model.PictureUrl"></user-picture-thumbnail>

    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 style="text-align:center">Kullanıcı Bilgileri</h1>

<table class="table">
    <thead>
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Email</th>
        <th>Telefon No</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
        </tr>
    </tbody>

</table>

    </div>

</div>
